<div class="faculty-edit-buttons-wrapper">
  <button
    mat-raised-button
    (click)="openCreateFacultyDialog()"
    color="primary"
  ><mat-icon>add</mat-icon> Створити Факультет</button>
</div>
<div class="container mat-elevation-z8">
  <div class="faculty-table-container">
    <table mat-table [dataSource]="data" multiTemplateDataRows class="faculty-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="faculty">
        <th mat-header-cell *matHeaderCellDef>Факультет</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Редагувати</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            class="edit-faculty-button"
            aria-label="Edit faculty button"
            (click)="openEditFacultyDialog(row.id, row.name); $event.stopPropagation();"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Видалити</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            class="delete-faculty-button"
            aria-label="Delete faculty button"
            (click)="openDeleteFacultyConfrimDialog(row.id, row.name); $event.stopPropagation();"
           >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <ng-container matColumnDef="cathedras">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let row" [attr.colspan]="displayColumns.length">

          <div class="cathedras--expanded"
               [@detailExpand]="row === expandedElement ? 'expanded' : 'collapsed'"
          >
            <div class="table-overlay" *ngIf="isCathedraDataLoading; else cathedraDataContainer">
              <mat-spinner [diameter]="50"></mat-spinner>
            </div>
            <ng-template #cathedraDataContainer>
              <div class="expanded-list-cathedras-wrapper">
                <h2>Кафедри факультету</h2>
                <ul>
                  <li *ngFor="let cathedra of cathedrasData">{{cathedra.name}}</li>
                </ul>
                <button class="create-cathedra-button"
                    mat-raised-button
                    (click)="openCreateCathedraByFacultyDialog(row.id, row.name)"
                    color="primary">
                  <mat-icon>add</mat-icon> Створити кафедру для {{row.name}}
                </button>
              </div>
            </ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"
          class="faculty-row"
          [class.expanded-row]="expandedElement === row"
          (click)="expandedElement = expandedElement === row ? null : row"
          (click)="onFacultyRow(row.id)"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: ['cathedras']"
          class="cathedra-row"
      ></tr>
    </table>
  </div>

  <div class="table-overlay" *ngIf="isFacultyDataLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <mat-paginator
    [length]="lengths"
    [pageSize]="10"
    [pageSizeOptions]="[5,10,15]"
    aria-label="Select page of faculties result"></mat-paginator>
</div>
