:host {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
}

.button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

hr {
  width: 100%;
  margin: 1rem 0;
  color: lightgray;
}
