<mat-drawer-container class="side-menu-wrapper">
  <mat-drawer mode="side" opened class="sidebar-navigation-menu">
    <div class="sidebar-menu-element"
         routerLink="/dashboard/profile-info"
         routerLinkActive="sidebar-menu-selected"
    >
      <mat-icon>person</mat-icon> Profile info
    </div>
    <div class="sidebar-menu-element"
         routerLink="/dashboard/faculties"
         routerLinkActive="sidebar-menu-selected"
    >
      <mat-icon>school</mat-icon> Faculties
    </div>
    <div class="sidebar-menu-element"
         routerLink="/dashboard/cathedras"
         routerLinkActive="sidebar-menu-selected"
    >
      <mat-icon>school</mat-icon> Cathedras
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
